# Построение дашбордов в Tableau

TED (от англ. technology, education, design — «технологии, образование, дизайн») — некоммерческий фонд, который проводит популярные конференции. На них выступают специалисты из разных областей и читают лекции на актуальные социальные, культурные и научные темы. 
В разное время на TED-конференциях выступали математик Бенуа Мандельброт, теоретик искусственного интеллекта Марвин Минский, спортсменка Дана Ньяд и основатель Google Ларри Пейдж.

Необходимо исследовать историю TED-конференций с помощью Tableau.

**Файлы** `tableau_project_data_1.csv`, `tableau_project_data_2.csv`, `tableau_project_data_3.csv` хранят данные выступлений. 

У них одинаковая структура:

`talk_id` — идентификатор выступления;

`url` — ссылка на запись выступления;

`title` — название выступления;

`description` — краткое описание;

`film_date` — дата записи выступления;

`duration` — длительность в секундах;

`views` — количество просмотров;

`main_tag` — основная категория, к которой относится выступление;

`speaker_id` — уникальный идентификатор автора выступления;

`laughter_count` — количество раз, когда аудитория смеялась в ходе выступления;

`applause_count` — количество раз, когда аудитория аплодировала в ходе выступления;

`language` — язык, на котором велось выступление;

`event_id` — уникальный идентификатор конференции.

**Файл** `tableau_project_event_dict.csv` — справочник конференций. 

Описание таблицы:

`conf_id` — уникальный идентификатор конференции;

`event` — название конференции;

`country` — страна проведения конференции.

**Файл** `tableau_project_speakers_dict.csv` — справочник авторов выступления. 

Описание таблицы:

`author_id` — уникальный идентификатор автора выступления;

`speaker_name` — имя автора;

`speaker_occupation` — профессиональная область автора;

`speaker_description` — описание профессиональной деятельности автора.

## Получение данных

In [36]:
import pandas as pd

In [40]:
data_1 = pd.read_csv('https://code.s3.yandex.net/datasets/tableau_project_data_1.csv')

In [42]:
data_1.head()

,talk_id,url,title,description,film_date,duration,views,main_tag,speaker_id,laughter_count,applause_count,language,event_id
0,84216,https://www.ted.com/talks/christina_costa_how_...,How gratitude rewires your brain,When a psychologist who studies well-being end...,2021-03-27,600,718724,health,6625,0.0,0.0,English,0
1,66033,https://www.ted.com/talks/caitlin_holman_how_g...,How game design can help schooling,The world is changing rapidly but models of de...,2017-02-08,1043,46441,education,53443,NaN,NaN,English,0
2,21933,https://www.ted.com/talks/terri_conley_we_need...,We need to rethink casual sex,Social psychologist and sex researcher Terri C...,2016-04-01,1091,273438,society,5107,0.0,0.0,English,0
3,2022,https://www.ted.com/talks/anne_curzan_what_mak...,"What makes a word ""real""?","One could argue that slang words like ‘hangry,...",2014-03-15,1033,2031550,culture,1938,12.0,4.0,English,0
4,83538,https://www.ted.com/talks/jane_walsh_the_rise_...,The rise of predatory scams -- and how to prev...,"Questionable phone calls, concerning emails, h...",2021-06-26,833,802109,technology,6606,0.0,0.0,English,4

In [44]:
data_2 = pd.read_csv('https://code.s3.yandex.net/datasets/tableau_project_data_2.csv')
data_2.head()

,talk_id,url,title,description,film_date,duration,views,main_tag,speaker_id,laughter_count,applause_count,language,event_id
0,2483,https://www.ted.com/talks/aditi_gupta_a_taboo_...,A taboo-free way to talk about periods,It's true: talking about menstruation makes ma...,2015-05-29,670,1828032,education,2959,5.0,6.0,English,1155
1,19995,https://www.ted.com/talks/boy_girl_banjo_dead_...,"""Dead Romance""",Acoustic duo Anielle Reid and Matthew Brookshi...,2017-11-16,222,312226,performance,3757,0.0,0.0,English,1157
2,12571,https://www.ted.com/talks/drew_philp_my_500_ho...,My $500 house in Detroit -- and the neighbors ...,"In 2009, journalist and screenwriter Drew Phil...",2017-11-16,823,1384861,culture,3763,1.0,1.0,English,1157
3,13000,https://www.ted.com/talks/andrew_dent_to_elimi...,"To eliminate waste, we need to rediscover thrift",There's no such thing as throwing something aw...,2017-11-16,634,1451874,technology,3761,0.0,1.0,English,1157
4,10802,https://www.ted.com/talks/nilay_kulkarni_a_lif...,A life-saving invention that prevents human st...,"Every three years, more than 30 million Hindu ...",2018-01-24,465,1092617,design,3913,6.0,2.0,English,1157

In [46]:
data_3 = pd.read_csv('https://code.s3.yandex.net/datasets/tableau_project_data_3.csv')
data_3.head()

,talk_id,url,title,description,film_date,duration,views,main_tag,speaker_id,laughter_count,applause_count,language,event_id
0,1817,https://www.ted.com/talks/jake_barton_the_muse...,The museum of you,A third of the world watched live as the World...,2013-05-16,938,831812,design,1679,1.0,1.0,English,2303
1,1776,https://www.ted.com/talks/bob_mankoff_anatomy_...,Anatomy of a New Yorker cartoon,"The New Yorker receives around 1,000 cartoons ...",2013-05-16,1259,1392017,design,1660,27.0,2.0,English,2303
2,1743,https://www.ted.com/talks/jay_silver_hack_a_ba...,"Hack a banana, make a keyboard!",Why can't two slices of pizza be used as a sli...,2013-04-24,795,1474788,technology,1650,5.0,3.0,English,2303
3,1752,https://www.ted.com/talks/paola_antonelli_why_...,Why I brought Pac-Man to MoMA,When the Museum of Modern Art's senior curator...,2013-05-16,1122,1023829,design,148,8.0,2.0,English,2303
4,1669,https://www.ted.com/talks/esther_perel_the_sec...,The secret to desire in a long-term relationship,"In long-term relationships, we often expect ou...",2013-02-11,1150,18952508,culture,1542,8.0,2.0,English,2303

In [48]:
event_dict = pd.read_csv('https://code.s3.yandex.net/datasets/tableau_project_event_dict.csv')
event_dict.head()

   conf_id             event        country
0        0          TEDxUofM  United States
1        4      TEDxMileHigh  United States
2       44           TEDxCMU  United States
3       48  TEDxSaltLakeCity  United States
4       54        TEDxSydney      Australia

In [50]:
speakers_dict = pd.read_csv('https://code.s3.yandex.net/datasets/tableau_project_speakers_dict.csv')
speakers_dict.head()

,author_id,speaker_name,speaker_occupation,speaker_description
0,6625,Christina Costa,Psychologist,Christina Costa teaches psychology to undergra...
1,53443,Caitlin Holman,Social Entrepreneur,Caitlin Holman is a doctoral candidate at the ...
2,5107,Terri Conley,"Social psychologist, sex researcher",Dr. Terri Conley is an associate professor of ...
3,1938,Anne Curzan,Language historian,English professor Anne Curzan actually encoura...
4,6606,Jane Walsh,Lawyer,Jane Walsh is passionate about fighting for th...

## Дашборд «История выступлений»

На этом дашборде покажем процент выступлений на конференциях в каждой из стран, также разобьем выступления по тематике, чтобы можно было оценить какие категории выступлений наиболее популярны.

Дашборд "История выступлений":https://public.tableau.com/views/TED-1history_1/sheet4?:language=en-US&publish=yes&:sid=&:display_count=n&:origin=viz_share_link

## Дашборд «Тематики выступлений»

Покажем, какие категории выступлений наиболее популярны, есть ли различия по странам.
Какие категории чаще вызывают аплодисменты аудитории, а какие реже? Какому выступлению аплодировали больше остальных?
Какие категории чаще вызывают смех аудитории, а какие реже? Какое выступление оказалось самым смешным?
Есть ли зависимость между длительностью выступления и количеством просмотров? Какое выступление посмотрели чаще всего? Какое выступление длилось дольше всех?

Дашборд "Тематики выступлений": https://public.tableau.com/views/TED-2main_tag_1/sheet12?:language=en-US&publish=yes&:sid=&:display_count=n&:origin=viz_share_link

## Дашборд «Авторы выступлений»

Выясним, какие области деятельности у авторов преобладают, сколько выступлений обычно приходится на одного автора. Кто выступал чаще всего?
Какой дизайнер (Designer) выступал чаще остальных? Какое выступление этого автора смотрели меньше всего?

Дашборд "Авторы выступлений": https://public.tableau.com/views/TED-3author_1/sheet17?:language=en-US&publish=yes&:sid=&:display_count=n&:origin=viz_share_link

## Дашборд «Другие тематики»

Дашборд показывает как менялся состав непопулярных тематик выступлений с годами.

Дашборд "Другие тематики": https://public.tableau.com/views/TED-4_17116632944150/sheet21?:language=en-US&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link

## Презентация

Презентация: https://public.tableau.com/views/TED-_17116629953570/TED-?:language=en-US&publish=yes&:sid=&:display_count=n&:origin=viz_share_link